*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 1rem;
}


/* general class css */

:root{
    --primary: #F1A0A5;
    --secondary: #93847D;
    --ternary:#EB6E75;
}


.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* header top css */
.container{
    margin:10px 0; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons ul li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    
}

 .social li a{
    text-decoration: none;
    color:var(--secondary);
    background-color: #F0F0F0;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.heading h4{
    color:var(--secondary);
   
}

.header_left{

    margin-right: 2rem;
}

.header_left div{
    margin-left: 1.5rem;
    color: var(--secondary);

}

.header_left div i{
    margin-left: 0.5rem;
}

/* header 2 css */
.header2{
    margin-top: 20px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;

}

.new_icon ul{
    margin-right: 2rem;
}

.new_icon ul i{
    margin-right: 0.1rem;
}

.new_icon sup{
    background-color:var(--ternary);
    color:white;
    padding: 2px 4px;
    border-radius: 1000px;
    font-size: 0.7rem;
    
}

.new_icon ul li{
    list-style: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    
}

.aircampus h3{
    margin-left: 1rem;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: lighter;
}

.header2 .search input{
    padding:0.4rem;
    border: 1px solid #bdbaba;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    width:50vw;
}

.header2 .search i{
    border: 1px solid #bdbaba;
    border-left:none;
    padding:0.45rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* navbar css */

.navbar ul li{
    list-style: none;
    margin-right: 1.5rem;
    font-weight: bold;


}

.navbar ul{
    justify-content: center;
    margin-top: 10px;
    font-size: 0.7rem;
}

/* banner section css */

.banner img{
    width:80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50vh;
    margin-top:10px;
}

.banner{
    position: relative;
}

.banner h3{
    color:var(--primary);
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.banner h1{
    margin-bottom: 0.5rem;
}

.banner .price{
    color:var(--secondary);
    margin-bottom: 0.5rem;

}

.banner .price span{
    font-size: 1.5rem;
    font-weight: bold;
 
}

.banner button{
    border-radius: 5px;
    background-color: var(--primary);
    color:white;
    padding:0.5rem;
    border: none;
}

.content{
    position: absolute;
    top:10%;
    left:20%;
}

/* small tiles section css */

.small_tiles{
    width:80vw;
    height: 15vh;
    /* justify-content: space-between; */
    justify-content: space-between;
  
    margin:1rem;
    margin-right: auto;
    margin-left: auto;

}
.tiles{
    min-width:18vw;
    height: 10vh;
    border:1px solid #bdbaba;
    border-radius: 10px;

}
.small_tiles img{
    width:3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
}

.dress{
    height: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dress div, .dress span{
    font-size:1rem;

}

.dress span{
    margin-left: 3.5rem;
    color: var(--secondary);
    
}

.show{
   color:#FAA7BB;
   padding-top: 1rem;
}

/* side category section */

#category{
    width:300px;
    border:1px solid #bdbaba;
    padding: 1rem;
}

.sub_content img{
    width: 2.5rem;
    height: 2.5rem;
}

.sub_content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width:200px;
  

}

/* plate section css */

.plate{
    height: 300px;
    padding: 1rem;
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.plate img{
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.fashion{
    margin-left: 20px;
}

.fashion .p1{
    color:#EB6E75;
    margin-top: 0.5rem;
}

.fashion .p2{
    font-weight: bold;
    
}

.fashion .p3{
    color: #444343;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}


/* footer 1 css */


.footer1{
    background-color: #212121;
    color:#444343;
    padding:1rem;
    border-bottom: 1px solid #eee;
}

.footer1 h4{
    color:#FAA7BB;
    margin-bottom: 1rem;
}

.footer1 span{

    color:#ccc4be;

}

.range{
    margin-bottom: 1rem;
}

/* footer2 css */

.footer2{
    background-color: #212121 ;
    padding:2rem;
    
    /* justify-content: space-around; */
    border-bottom: 1px solid #eee;
}

.footer2 h4{
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:#d49f25;
}



.footer2 ul li{
    list-style: none;
    margin-bottom: 1rem;
}

.footer_tiles{
    color:#444343;
    width:200px;
    height: 200px;
    
}

/* footer3 css */

.footer3{
    background-color: #212121;
    text-align: center;
    padding: 1.5rem;
}

.footer3 p{
    margin-top: 1.5px;
    color:#444343;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

